.elementor-644 .elementor-element.elementor-element-e358937 .elementor-repeater-item-ac0ff47.jet-parallax-section__layout .jet-parallax-section__image{background-size:auto;}.elementor-644 .elementor-element.elementor-element-21436521 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-644 .elementor-element.elementor-element-21436521 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-644 .elementor-element.elementor-element-262a259b .elementor-heading-title{color:#333333;font-family:"Noto Sans KR", Sans-serif;font-size:30px;font-weight:600;line-height:1.5em;letter-spacing:-0.4px;}.elementor-644 .elementor-element.elementor-element-341909c{color:#999999;font-family:"Noto Sans KR", Sans-serif;font-size:16px;font-weight:400;line-height:1.5em;letter-spacing:-0.4px;}.elementor-644 .elementor-element.elementor-element-341909c > .elementor-widget-container{margin:14px 0px 0px 0px;}.elementor-644 .elementor-element.elementor-element-486caeb0 .elementor-icon-list-icon i{color:#999999;font-size:14px;}.elementor-644 .elementor-element.elementor-element-486caeb0 .elementor-icon-list-icon svg{fill:#999999;--e-icon-list-icon-size:14px;}.elementor-644 .elementor-element.elementor-element-486caeb0 .elementor-icon-list-icon{width:14px;}.elementor-644 .elementor-element.elementor-element-486caeb0 .elementor-icon-list-text, .elementor-644 .elementor-element.elementor-element-486caeb0 .elementor-icon-list-text a{color:#999999;}.elementor-644 .elementor-element.elementor-element-486caeb0 .elementor-icon-list-item{font-family:"Noto Sans KR", Sans-serif;font-size:16px;font-weight:400;line-height:1em;}.elementor-644 .elementor-element.elementor-element-486caeb0 > .elementor-widget-container{margin:39px 0px 0px 0px;}.elementor-644 .elementor-element.elementor-element-e358937{padding:0px 0px 0px 77px;}@media(max-width:1024px){.elementor-644 .elementor-element.elementor-element-341909c{font-size:14px;}.elementor-644 .elementor-element.elementor-element-486caeb0 .elementor-icon-list-icon{width:14px;}.elementor-644 .elementor-element.elementor-element-486caeb0 .elementor-icon-list-icon i{font-size:14px;}.elementor-644 .elementor-element.elementor-element-486caeb0 .elementor-icon-list-icon svg{--e-icon-list-icon-size:14px;}.elementor-644 .elementor-element.elementor-element-486caeb0 .elementor-icon-list-item{font-size:13px;}.elementor-644 .elementor-element.elementor-element-486caeb0 > .elementor-widget-container{margin:15px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-644 .elementor-element.elementor-element-e358937{padding:0px 0px 0px 50px;}}@media(max-width:767px){.elementor-644 .elementor-element.elementor-element-262a259b .elementor-heading-title{font-size:22px;line-height:1.2em;}.elementor-644 .elementor-element.elementor-element-262a259b > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-644 .elementor-element.elementor-element-e358937{margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 40px;}}/* Start custom CSS for theme-post-title, class: .elementor-element-262a259b */.elementor-644 .elementor-element.elementor-element-262a259b {
   overflow:hidden;
   height:5.8em;
   line-height:1.2;
   white-space:normal;
   text-align:left;
   word-break:break-all;
   display:-webkit-box;
   -webkit-line-clamp:2;
   -webkit-box-orient:vertical;
}
@media screen and (max-width:1024px){
    .elementor-644 .elementor-element.elementor-element-262a259b {
        height:5em;
    }
}

@media screen and (max-width:767px){
    .elementor-644 .elementor-element.elementor-element-262a259b {
        height:3.1em;
    }
}/* End custom CSS */
/* Start custom CSS for theme-post-content, class: .elementor-element-341909c */.elementor-644 .elementor-element.elementor-element-341909c .elementor-widget-container  {height:52px; overflow:hidden;}
@media screen and (max-width:1024px){
    .elementor-644 .elementor-element.elementor-element-341909c .elementor-widget-container {height:41px;}
}/* End custom CSS */
/* Start custom CSS for theme-post-title, class: .elementor-element-262a259b */.elementor-644 .elementor-element.elementor-element-262a259b {
   overflow:hidden;
   height:5.8em;
   line-height:1.2;
   white-space:normal;
   text-align:left;
   word-break:break-all;
   display:-webkit-box;
   -webkit-line-clamp:2;
   -webkit-box-orient:vertical;
}
@media screen and (max-width:1024px){
    .elementor-644 .elementor-element.elementor-element-262a259b {
        height:5em;
    }
}

@media screen and (max-width:767px){
    .elementor-644 .elementor-element.elementor-element-262a259b {
        height:3.1em;
    }
}/* End custom CSS */
/* Start custom CSS for theme-post-content, class: .elementor-element-341909c */.elementor-644 .elementor-element.elementor-element-341909c .elementor-widget-container  {height:52px; overflow:hidden;}
@media screen and (max-width:1024px){
    .elementor-644 .elementor-element.elementor-element-341909c .elementor-widget-container {height:41px;}
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-e358937 */.elementor-644 .elementor-element.elementor-element-e358937 {position:relative;}
.elementor-644 .elementor-element.elementor-element-e358937:before {width:60px; height:55px; background:url('/wp-content/uploads/2020/10/icon_speaker.png') 50% no-repeat; background-size:cover; content:''; position:absolute; top:0; left:0; display:block;}
@media screen and (max-width:1024px){
    .elementor-644 .elementor-element.elementor-element-e358937:before {width:40px; height:40px;}
}
@media screen and (max-width:768px){
    .elementor-644 .elementor-element.elementor-element-e358937:before {width:30px; height:30px;}
}/* End custom CSS */